:root{
  --primary-color: #20011e;
  --secondary-color: rgba(250,250,250,0.4);
  --title-color: #FFFEF2;
  --dark-w-opacity: rgba(36, 21, 47,0.4);
  --border-radius: 16px;
}

[data-house="Hufflepuff"] {
  --primary-color: #FCB542;
  --secondary-color: #372e29;
  --title-color: #726255;
}

[data-house="Gryffindor"] {
  --primary-color: #591E1C;
  --secondary-color:#d3a625;
}

[data-house="Ravenclaw"] {
  --primary-color: #222f5b;
  --secondary-color: #C09364;
  --title-color: #fffdd1;
}

[data-house="Slytherin"] {
  --primary-color: #1a472a;
  --secondary-color: #aaaaaa;
  --title-color: #fffdd1;
}

body{
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: linear-gradient(135deg, #24152F, #10141b);
  min-height: 100vh;
}

select, input{
  color: var(--title-color);
  background-color: var(--secondary-color);
  border-radius: 3px;
  border: none;
}
select:focus, input:focus{
  outline: none;
  box-shadow: 0 0 3pt 1pt var(--title-color);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--title-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--title-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--title-color);
}

.col{
  padding: 0 1em;
}

img.crest {
  padding: 1em 0;
  height: 5em;
}

label, .studentNumbers {
  color: var(--title-color);
  font-size: small;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.studentNumbers{
  margin-bottom: 1.5em;
}

.studentNumbers > span{
  font-weight: 700;
}

#dataList, #expelledList{
  margin: 1em -.5em;
}

h1, h2, .name{
  color: var(--title-color);
}

.logo{
  display: inline;
  vertical-align: middle;
}
h1.logo{
  margin-left: .3em;
}
img.logo{
  height: 5em;
}

.listItem {
  padding: 1em;
  margin: .5em;
  background-color: rgba(250,250,250,0.1);
  border-radius: var(--border-radius);
}

.listItem:hover{
  background-color: var(--primary-color);
  cursor: pointer;
}

.house{
  font-size: small;
  color: var(--secondary-color);
}

.d-none{
  display: none;
}

.py{
  padding: 2em;
}

.title{
  background: linear-gradient(180deg,rgba(16,20,27,.8) 50%,rgba(16,20,27,0));
  position: fixed;
  width: 100%;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--dark-w-opacity, rgb(0,0,0)); /* var + fallback color */
}

/* Modal Content */
.modal-content {
  background-color: var(--primary-color);
  margin: auto;
  padding: 20px;
  /* border: 1px solid var(--secondary-color); */
  width: 80%;
  border-radius: var(--border-radius);
}

/* The Close Button */
.close {
  color: var(--secondary-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: var(--title-color);
  text-decoration: none;
  cursor: pointer;
}

.btn{
  margin-top: 1em;
  padding: .6em 1.8em;
  font-weight: 700;
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius);
  background-image: linear-gradient(to bottom, var(--title-color) 0%, var(--secondary-color) 100%);
  cursor: pointer;
}
.btn:hover{
  background-image: linear-gradient(to bottom, var(--secondary-color) 0%, var(--title-color) 100%);
}

.bar{
  margin-top: 8em;
}

.space{
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
/* taken from https://codepen.io/codecomposer/pen/PzPvod */
.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: twinkle 8s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
  transform: rotate(200deg) scale(0.6);
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: -1s;
  transform: rotate(80deg);
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: -2s;
  transform: rotate(200deg) scale(1.4);
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: -3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: -4s;
}

@keyframes twinkle {
  0% {
    opacity: 0.3;
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 1;
    animation-timing-function: linear;
  }
  100% {
    opacity: 0.3;
  }
}

/* small phone screens */
@media only screen and (max-width: 320px) {
  .logo{
    display: block;
  }
  h1.logo{
    margin-left: 0;
  }

  .bar{
    margin-top: 12em;
  }
}

/* desktop */
@media only screen and (min-width: 1024px) {
  .studentNumbers{
    margin: 0.2em 0 0;
  }

  .bar{
    justify-content: space-between;
  }
  
  img.crest{
    padding: 1em 2em 1em 1em;
  }
}