:root{
  --primary-color: #2d004d;
  --secondary-color: #888;
  --card-color: #F8F9FA;
  --black-w-opacity: rgba(0,0,0,0.4);
}

[data-house="Hufflepuff"] {
  --card-color: #e3a000;
  --secondary-color: #282828;
}

[data-house="Gryffindor"] {
  --card-color: #9c1203;
  --primary-color: #F8F9FA;
  --secondary-color: #e3a000;
}

[data-house="Ravenclaw"] {
  --card-color: #00165e;
  --primary-color: #F8F9FA;
  --secondary-color: #C09364;
}

[data-house="Slytherin"] {
  --card-color: #033807;
  --primary-color: #F8F9FA;
  --secondary-color: #CDCDCD;
}

body{
  margin: 2em;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  padding-right: 20px;
  height: 5rem;
}

label {
  color: var(--primary-color);
  font-size: small;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

#dataList{
  margin: auto -.5em;
}

h1, .name{
  color: var(--primary-color);
}

#dataList .listItem {
  padding: 1em;
  margin: .5em;
  background-color: var(--card-color);
}

#dataList .listItem:hover{
  --card-color: #2d004d;
  --primary-color: #F8F9FA;
  cursor: pointer;
}

.house{
  font-size: small;
  color: var(--secondary-color);
}

.optional{
  display: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--black-w-opacity, rgb(0,0,0)); /* var + fallback color */
}

/* Modal Content */
.modal-content {
  background-color: var(--card-color);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  width: 80%;
}

/* The Close Button */
.close {
  color: var(--secondary-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}